[package]
name = "live"
license = "MIT"
version = "0.1.2"
edition = "2024"
rust-version = "1.93"
categories = ["asynchronous"]
description = "A modular configuration framework with live reloading and atomic, format-agnostic updates."
keywords = ["config", "live-reload", "atomic", "async", "monitoring"]
readme = "README.md"
repository = "https://github.com/canmi21/live.git"

[dependencies]
arc-swap = { version = "1", optional = true }
async-trait = { version = "0.1.89", optional = true }
fancy-regex = { version = "0.17.0", optional = true }
futures-util = { version = "0.3.31", optional = true }
globset = { version = "0.4.18", optional = true }
log = { version = "0.4.29", optional = true }
notify = { version = "8", optional = true }
postcard = { version = "1.1.3", optional = true }
serde = { version = "1.0.228", features = ["derive"], optional = true }
serde_json = { version = "1.0.149", optional = true }
serde_yaml = { version = "0.9.34", optional = true }
thiserror = { version = "2", optional = true }
tokio = { version = "1", features = ["sync", "fs", "io-util", "time", "rt", "macros"], optional = true }
tokio-stream = { version = "0.1.18", optional = true }
toml = { version = "0.9.11", optional = true }
tracing = { version = "0.1.44", optional = true }
validator = { version = "0.20.0", optional = true }

[features]
full = ["holder", "events", "loader-full", "signal-full"]
holder = ["dep:arc-swap", "dep:thiserror"]
events = ["dep:tokio", "holder"]

loader = ["dep:async-trait", "dep:thiserror", "dep:serde"]
loader-full = ["loader", "fs", "json", "toml", "yaml", "postcard", "validate", "logging"]

signal = ["dep:notify", "dep:tracing", "dep:tokio", "dep:thiserror"]
signal-full = ["signal", "signal-match", "signal-stream", "signal-serde"]
signal-match = ["signal", "dep:globset"]
signal-stream = ["signal", "dep:futures-util", "dep:tokio-stream", "tokio-stream/sync"]
signal-serde = ["signal", "dep:serde"]

fs = ["loader", "dep:tokio"]
json = ["loader", "dep:serde_json"]
toml = ["loader", "dep:toml"]
yaml = ["loader", "dep:serde_yaml"]
postcard = ["loader", "dep:postcard"]
validate = ["loader", "dep:validator"]
regex = ["validate", "dep:fancy-regex"]
logging = ["dep:log"]
notify = ["dep:notify"]
globset = ["dep:globset"]
futures-util = ["dep:futures-util"]
tokio-stream = ["dep:tokio-stream"]
tracing = ["dep:tracing"]

#[[example]]
#name = ""
#required-features = [""]

[dev-dependencies]
