[package]
name = "live"
license = "MIT"
version = "0.0.2"
edition = "2024"
rust-version = "1.93"
categories = ["asynchronous"]
description = ""
keywords = [""]
readme = "README.md"
repository = "https://github.com/canmi21/live.git"

[dependencies]
arc-swap = { version = "1", optional = true }
thiserror = { version = "2", optional = true }

[features]
full = ["holder"]
holder = ["dep:arc-swap", "dep:thiserror"]

#[[example]]
#name = ""
#required-features = [""]

[dev-dependencies]