[package]
name = "live"
license = "MIT"
version = "0.0.2"
edition = "2024"
rust-version = "1.93"
categories = ["asynchronous"]
description = "A modular configuration framework with live reloading and atomic, format-agnostic updates."
keywords = ["config", "live-reload", "atomic", "async", "monitoring"]
readme = "README.md"
repository = "https://github.com/canmi21/live.git"

[dependencies]
arc-swap = { version = "1", optional = true }
thiserror = { version = "2", optional = true }
tokio = { version = "1", features = ["sync"], optional = true }

[features]
full = ["holder", "events"]
holder = ["dep:arc-swap", "dep:thiserror"]
events = ["dep:tokio", "holder"]
tokio = ["dep:tokio"]

#[[example]]
#name = ""
#required-features = [""]

[dev-dependencies]